.headerEquipo{
    background-color: beige;
}

.equipo{
    margin-top: 2px;
   
    

    &__sec{
        margin-top: 2px;

        &__cont{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
            
            &__p{
          
                font-size: 40px;
                text-align: center;
                padding-bottom: 00px;
                padding-left: 120px;
                padding-right: 120px;
             
            }           
        }
     }
}
 
.equipoImg{
    width: 50%;
    height: 150vh;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 5px;
}

#reverse{
    display: flex;
    flex-direction: row-reverse;
}
