main a {

    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

main a :hover{

    color: rgba(0, 0, 0, 0.733);
}

.banner{
    background-image: linear-gradient(rgba(128, 128, 128, 0.103) ),  url("../assests/portada2.jpeg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
    background-color:rgb(128, 128, 128);
    margin-top: 0px;


    &__contenedor{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        gap: 20px;
        

        &__parr{
    
            font-size: 80px;
            font-family:'Great Vibes', cursive;
            margin-top: 20px;
            text-align: center;
            color: rgba(35, 36, 35, 0.89);
        
        }
    }   
}


.scroll{
    
  display: flex;
  flex-direction: row;
  background-color: #f4dfbad8;
  margin-top: 5px;
  
  
    &__contenedor{

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: justify;
     text-align: center;
     width: 100%;
     padding-top: 90px;
     gap: 10px;
     padding-bottom: 100px;
 

        &__a{

            &__h2{

             font-family: 'Great Vibes', cursive;
             font-size: 60px;
             letter-spacing: 5px;
             color: rgba(0, 0, 0, 0.733);
            }
       
        }
        
        &__p{

            color: rgba(0, 0, 0, 0.424);
        }

        
    }
    
    .img-fluid{
        width: 50%;
        
        
    }

   
    
}   

.scroll--mod{
    
    display: flex;
    flex-direction: row-reverse;
    background-color: #f4dfbad8;
    margin-top: 5px;
   
   
    
    .form{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.787);
        
    }
    
    

    .img-fluid{
        
        width: 50%;
    }

    

    .maps{
        
        width: 100%;
          
    }
    
}



